{% extends 'shop/base.html' %} {% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="text-align: right;">
    <ol class="carousel-indicators">
        {% for item in slider_items %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for item in slider_items %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img class="d-block w-100" src="{{ item.image.url }}" alt="image">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">قبلی</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">بعدی</span>
    </a>
</div>

<h2 class="mt-4" style="text-align: right;">پرفروش‌ترین محصولات</h2>
<div class="row" style="text-align: right;">
    {% for product in products %}
    <div class="col-md-3">
        <div class="card mb-4" style="box-shadow: 0px 0px 10px #d8d0be; background-color: #ffffee;">
            <img class="card-img-top" src="{% if product.image %}{{ product.image.url }}{% else %}https://via.placeholder.com/150{% endif %}" alt="تصویر محصول">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.price }} تومان</p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="quantity_{{ product.id }}">تعداد</label>
                        <input type="number" id="quantity_{{ product.id }}" name="quantity" class="form-control" value="1" min="1">
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color: #806854; border-color: #806854; color: white;">افزودن به سبد خرید</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}