{% extends "shop/base.html" %} {% block content %}
<h1 style="text-align: right;">نمودار فروش</h1>

<div style="text-align: right;">
    <label for="interval">انتخاب بازه زمانی: </label>
    <select id="interval" name="interval" onchange="updateChart()">
        <option value="daily" {% if interval == 'daily' %}selected{% endif %}>روزانه</option>
        <option value="weekly" {% if interval == 'weekly' %}selected{% endif %}>هفتگی</option>
        <option value="monthly" {% if interval == 'monthly' %}selected{% endif %}>ماهانه</option>
    </select>
    <label for="product">انتخاب محصول: </label>
    <select id="product" name="product" onchange="updateChart()">
        <option value="all" {% if selected_product == 'all' %}selected{% endif %}>همه</option>
        {% for product in products %}
        <option value="{{ product.id }}" {% if selected_product == product.id %}selected{% endif %}>{{ product.name }}</option>
        {% endfor %}
    </select>
</div>

<canvas id="salesChart" width="800" height="400"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const rawSalesData = '{{ sales_data|escapejs }}'.replace('<QuerySet ', '').replace('>', '').replace(/'/g, '"');
    const salesData = JSON.parse(rawSalesData);


    let salesChart;
    const ctx = document.getElementById('salesChart').getContext('2d');

    function renderChart(data) {
        if (salesChart) {
            salesChart.destroy();
        }
        salesChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.map(d => d.product__name),
                datasets: [{
                    label: 'مجموع فروش',
                    data: data.map(d => d.total_quantity),
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    function updateChart() {
        const interval = document.getElementById('interval').value;
        const product = document.getElementById('product').value;
        window.location.href = `{% url 'sales_chart' %}?interval=${interval}&product=${product}`;
    }

    renderChart(salesData); // Initial chart render
</script>
{% endblock %}